.site {
  &-footer {
    flex: 0 0 auto;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-branding {
    position: absolute;
    top: auto;
    bottom: map-get($spacers, 4);
    left: 0;
    right: 0;
  }

  &-header &-description {
    margin-bottom: 0;
  }

  &-content {
    margin: #{map-get($spacers, 3)} 0;
    padding: 0;
    flex: 1 0 100%;

    &-contain {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
}
